body {
	padding-top: 60px;
	padding-bottom: 40px;
}

h1 code, h1 pre,
h2 code, h2 pre,
h3 code, h3 pre,
h4 code, h4 pre,
h5 code, h5 pre,
h6 code, h6 pre {
	font-size: inherit;
}

h1 {
	margin-bottom: 20px;
}

h3 {
	margin-bottom: 20px;
}

pre,
.cm-s-ambiance .cm-property {
	font-size: 18px;
}