<h1 id="add">add</h1>

<h2 id="augmentthecurrentselectionwithelementsfromanewjquerycall">Augment the current selection with elements from a new <code>jQuery()</code> call</h2>

<hr />

<p>The jQuery object method <code>add</code> constructs a new jQuery object by joining given elements with an already existing jQuery object. You can pass almost anything to <code>add</code> that the jQuery function accepts, including selectors, DOM elements, and strings of markup. The new jQuery object returned from <code>add</code> can be chained upon just like other jQuery objects, with the methods acting on the new object. Since calling <code>add</code> returns a new jQuery object, it will not modify the original object. Beginning with jQuery 1.4, the jQuery collection from <code>add</code> will always be in document order rather than just being placed on the end of the current collection.</p>

<p><em>Note: To undo the add operation, you can move back in the current jQuery stack by calling <code>end</code>, or using <code>not</code> to remove the elements from the current object.</em></p>

<hr />

<p><span class="label label-info">Version 1.0</span></p>

<pre><code class="javascript">.add( selector )
</code></pre>

<h4 id="selector">selector</h4>

<p><span class="label label-inverse">Accepts: String</span></p>

<p>A string representing a CSS or custom jQuery selector.</p>

<div class="fiddle" id="mSkJW"></div>

<hr />

<p><span class="label label-info">Version 1.0</span></p>

<pre><code class="javascript">.add( elements )
</code></pre>

<h4 id="elements">elements</h4>

<p><span class="label label-inverse">Accepts: DOM Element(s)</span></p>

<p>A DOM Element, NodeList of DOM Elements, or an array of DOM Elements.</p>

<div class="fiddle" id="Mpe8p"></div>

<hr />

<p><span class="label label-info">Version 1.0</span></p>

<pre><code class="javascript">.add( html )
</code></pre>

<h4 id="html">html</h4>

<p><span class="label label-inverse">Accepts: String</span></p>

<p>A string representing a new fragment of markup.</p>

<div class="fiddle" id="x7Qux"></div>

<hr />

<p><span class="label label-info">Version 1.3.2</span></p>

<pre><code class="javascript">.add( elements )
</code></pre>

<h4 id="elements">elements</h4>

<p><span class="label label-inverse">Accepts: jQuery object</span></p>

<p>A jQuery object representing an already existing selection.</p>

<div class="fiddle" id="VpeL4"></div>

<hr />

<p><span class="label label-info">Version 1.4</span></p>

<pre><code class="javascript">.add( selector, context )
</code></pre>

<h4 id="selector">selector</h4>

<p><span class="label label-inverse">Accepts: String</span></p>

<p>A string representing a CSS or custom jQuery selector.</p>

<h4 id="context">context</h4>

<p>The element at which <code>selector</code> should be scoped to.</p>

<div class="fiddle" id="ZaEkZ"></div>

<hr />